body{
    background-position: center;
    background-size: cover;
}
.header{
    font-size: 18px;
    width: 100%;
    margin: 0px;
}
#start,#numberofobjects,#status{
font-size: 18px;
}
.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: lightblue;
    line-height: 3;
    text-align: center;
    color: brown;
}
canvas{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px white;
}